

[submodule "deps/secp256k1-20210801"]
	path = deps/secp256k1-20210801
	url = https://github.com/nervosnetwork/secp256k1.git
	branch = schnorr
[submodule "deps/ckb-c-stdlib-2023"]
	path = deps/ckb-c-stdlib-2023
	url = https://github.com/nervosnetwork/ckb-c-stdlib.git
	branch = master
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/nervosnetwork/mbedtls.git

[submodule "deps/ed25519"]
	path = deps/ed25519
	url = https://github.com/contrun/ed25519.git
