
name: Rust

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Install litecoin for tests
      run: |
        tarball=litecoin.tar.gz
        wget -O "$tarball" https://download.litecoin.org/litecoin-0.21.2.2/linux/litecoin-0.21.2.2-x86_64-linux-gnu.tar.gz
        tar xvzf "$tarball"
        sudo rsync -avz --progress -h --remove-source-files litecoin-*/ /usr/local
    - name: Build contract
      run: make all-via-docker
    - name: Run auth_rust tests
      run: cd tests/auth_rust && bash run.sh
    - name: Install ckb-debugger
      run: cd tests/auth_spawn_rust && make install
    - name: Run auth_spawn_rust tests
      run: cd tests/auth_spawn_rust && make all

