
name: Rust

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Update submodules
      run: git submodule update --init
    - name: Build contract
      run: make all-via-docker
    - name: Run auth_rust tests
      run: cd tests/auth_rust && bash run.sh
    - name: Install ckb-debugger
      run: cd tests/auth_spawn_rust && make install
    - name: Run auth_spawn_rust tests
      run: cd tests/auth_spawn_rust && make all

